@keyframes shine {
  0% {
    background-position: -200% center;
  }
  100% {
    background-position: 200% center;
  }
}

.animate-shine {
  background: linear-gradient(
    120deg,
    transparent 0%,
    transparent 25%,
    rgba(255, 255, 255, 0.1) 35%,
    rgba(255, 255, 255, 0.1) 65%,
    transparent 75%,
    transparent 100%
  );
  background-size: 200% 100%;
  animation: shine 8s linear infinite;
}